:root {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body {
  color: rgb(37, 37, 37);
  font-size: 12px;
  margin: 0 8px 8px;
  min-height: 200px;
  min-width: 250px;
  background-color: #fef3f3;
}

header {
  height: 35px;
  color: #402020;
  margin: 10px 0 0 5px;
}

main {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
}

label {
  position: absolute;
  height: 1px;
  width: 1px;
  color: white;
}

input {
  min-width: 200px;
  appearance: none;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  height: 48px;
  position: relative;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  border-radius: 8px;
  outline: 0px;
  padding: 14px 16px;
  padding-inline: 16px;
  transition: 0.25s;
}

#searchBar {
  padding-left: 35px;
}

#searchContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 15px 0;
}

#searchBar:hover {
  border-color: rgba(238, 96, 85, 1);
}

input::placeholder {
  font-style: italic;
}

.searchIcon {
  display: flex;
  height: 48px;
  left: 0px;
  width: 40px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 1;
  color: #947d7d;
}

#searchButton {
  background: #ee6055;
  background: linear-gradient(
    90deg,
    rgba(238, 96, 85, 1) 0%,
    rgba(255, 155, 133, 1) 50%,
    rgba(255, 217, 125, 1) 100%
  );
  border-radius: 35px;
  margin-top: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  transform: translate(0, 0.375em);
}

hr {
  height: 0.5px;
  color: gray;
  background-color: #f9f3ff;
  width: 200px;
  border-color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  border: 1px none;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  margin-bottom: 10px;
  transition: 0.2s;
}

li:hover {
  border: 1px solid rgba(238, 96, 85, 1);
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  margin: 10px auto;
}
